*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}
body{
  background-color: #ddd;
}
.corpo{
  margin: 0 auto;
  background-color: #778899;
  width: 400px;
}
img{
  width: 70px;
  height: 70px;
}
.logo{
  margin: 0 auto;
  background-color: #333;
  width: 80px;
  border-radius: 50%;
}
