@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: #000;
}
body{
  background-color: #000;
}
.corpo{
  margin: 0 auto;
  background-color: #DCDCDC;
  width: 400px;
}
.amostra-projetos{
  width: 222px;
  background-color: #DCDCDC;
}
.nav-tabs{
  width: 400px;
  margin: 0 auto;
  background-color: #228B22;
  position: relative;
}
.nav-tabs ul{
  list-style: none;
}
.nav-tabs ul li{
  float: right;
}
.nav-tabs label{
  width: 390px;
  padding: 05px;
  background-color: #DCDCDC;
  display: block;
  color: #000;
  cursor: pointer;
  text-align: center;
}
.rd-tabs:checked ~ label{
  background-color: #228B22;
}
.rd-tabs{
  display: none;
}
.content{
  border-top: 5px solid #228B22;
  background-color: #DCDCDC;
  display: none;
  position: absolute;
  width: 400px;
  left: 0;
}
.rd-tabs:checked ~ .content{
  display: block;
}
.content article{
  padding: 0;
}
.btn-home{
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #228B22;
  border-radius: 8px;
}
.btn-home:hover{
  background-color: #3CB371;
  transition: 0.5s;
}
