@charset "UTF-8";
@font-face {
    font-family: 'roboto';
    src: url("../../assets/font/roboto/Roboto-Regular.ttf");
}
*{
  text-decoration: none;
  font-family: 'roboto';
}
body{
  background-image: url('../../img/wallpaper/wallpaper_back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.corpo{
  width: 400px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: 130px;
  margin: 0;
  /*opacity: 0.9;*/
}
.logo-login{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 170px;
}
fieldset{
  border-radius: 12px;
  width: 350px;
  border: 4px solid #A52A2A;
}
input[type=text]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
}
input[type=password]{
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
}
.btn-logar{
  padding: 10px 17px 10px 17px;
  background-color: #A52A2A;
  border-radius: 12px;
  color: #ffffff;
}
input[type=submit]{
  padding: 10px 17px 10px 17px;
  background-color: #A52A2A;
  border-radius: 12px;
  color: #ffffff;
}
input[type=reset]{
  padding: 10px 17px 10px 17px;
  background-color: #A52A2A;
  border-radius: 12px;
  color: #ffffff;
}
