* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 500;
}

body {
    background-color: #f5f5f5;
}

.body-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-register form {
    margin: 10px;
    background-color: #e0dddd;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    
    -webkit-box-shadow: 6px 6px 10px #999; 
	-moz-box-shadow: 6px 6px 10px #999;
    box-shadow: 6px 6px 10px #999;
}

.form-register h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}

.title-register h2{
    margin-bottom: 15px;
}

.title-register h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    outline: 0;
    border-radius: 8px;
    border: 0;
}

.btn-register {
    background-color: #1e3fcf;
    color: #ffffff;
}

.btn-register:hover {
    background-color: #1436cc;
    cursor: pointer;
}

.body-register {    
    width: 900px;
    background-color: #e0dddd;
    margin: 10px;
    padding: 20px;
    border-radius: 8px; 

    -webkit-box-shadow: 6px 6px 10px #999; 
	-moz-box-shadow: 6px 6px 10px #999;
    box-shadow: 6px 6px 10px #999;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-register {
    width: 250px;
    height: 180px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin: 5px;

    -webkit-box-shadow: 6px 6px 10px #999; 
	-moz-box-shadow: 6px 6px 10px #999;
    box-shadow: 6px 6px 10px #999;  
} 

.alert-register {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.btn-delete {
    background-color: #eb290f;
    color: #ffffff;
    margin: 10px 10px 0px 0px;
}

.btn-delete:hover {
    background-color: #c52813;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .body-page {
        display: inline-block;
        vertical-align: middle;
    }

    .form-register {
        margin-left: 45%;
    }

    .body-register{
        margin-left: 15%;
    }
}

@media (max-width: 1120px) {
    .form-register {
        margin-left: 40%;
    }

    .body-register{
        margin-left: 10%;
    }
}

@media (max-width: 1000px) {
    .form-register {
        margin-left: 35%;
    }

    .body-register{
        margin-left: 5%;
    }
}

@media (max-width: 950px) {
    .form-register {
        margin-left: 30%;
    }

    .body-register{
        margin: 2%;
    }
}

@media (max-width: 920px) {
    .body-register {    
        width: 800px;
    }
    
    .boxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box-register {
        margin-left: 20%;
    } 
}

@media (max-width: 840px) {
    .body-register {    
        width: 600px;
    }

    .box-register {
        margin: 5px;
    }
}

@media (max-width: 630px) {
    .body-register {    
        width: 500px;
    }

    .boxes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-register {
        margin-left: 15%;
    }

    .box-register {
        margin-left: 22%;
    } 
}

@media (max-width: 530px) {
    .body-register {    
        width: 350px;
        margin-left: 8%;
    }

    .box-register {
        margin-left: 10%;
    } 

    .form-register {
        margin-left: 5%;
    }
}